.add-option {
  display: flex;
  flex-direction: row; // Stack things horizontally
  padding: $m-size;
}

.add-option-error {
  // color: $dark-jungle-green;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

.add-option__input {
  // border: none;
  border: 1px solid $border-color;
  border-radius: 10px;
  // border-bottom: 1px solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  margin-right: $s-size;
  padding: $s-size;
}

// CSS media query used to modify site based on  device type. These settings are
// applied when screen size <= 45 rem, i.e. mobile phones
@media (max-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: column; // "column" stacks items vertically
  }
  .add-option__input {
    margin: 0 0 $s-size;
  }
}