// Styling for the "What should I do" button
.big-button {
  background: $sunny;
  border: none;
  // Darken the bottom border by 10%
  // border-bottom: .6rem solid darken($sunny, 10%);
  border-radius: 10px;
  color: $dark-jungle-green;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $xl-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: .5;
}

.big-button:hover {
  background: darken($sunny, 10%);
}

// Styling for "Add Option" button
.button {
  background: $sunny;
  border: none;
  // border-bottom: .3rem solid darken($sunny, 10%);
  border-radius: 10px;
  // box-shadow: rgba(0, 0, 0, 0.06) 0 1px 1px 1px;
  color: $dark-jungle-green;
  font-weight: 500;
  padding: $s-size;
}

.button:hover {
  background: darken($sunny, 10%);
}

// Remove button
.button__link {
  background: none;
  border: none;
  color: $link-color;
  cursor: pointer;
  padding: 0;
  // text-decoration: underline;
}

.button__link:hover {
  // font-weight: bolder;
  text-decoration: underline;
}

// Play music button
// .button--link.button__play {
//   font-size: $m-size;
// }

// Menu bar buttons
.button--menu {
  border: none;
  color: $charcoal;
  cursor: pointer;
  font-size: $m-size;
  // margin: 0 $m-size;
  // position: relative;
  padding: $m-size;
  // padding-bottom: 2rem;
}

.button--menu:hover {
  // border-bottom: solid 2px;
  // color: $sunny;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
}

// .button--login {
//   margin: 0 $m-size;
// }

// .button--logout {
//   margin: 0 $m-size;
// }

@media(max-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $m-size;
  }
}