.Heaer {
  // background: $anti-flash-white;
  // color: $dark-jungle-green;
  display: flex;
  justify-content: center;
  // margin-bottom: $xl-size;
  padding-top: $m-size;
}

.Header__subtitle {
  // color: $cyan-azure;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}

.Header__title {
  font-size: $l-size;
  font-weight: bold;
  margin: 0;
}

@media(max-width: $desktop-breakpoint) {
  .Header {
    margin-bottom: $m-size;
  }
}