.header {
  background: $anti-flash-white;
  color: $dark-jungle-green;
  margin-bottom: $xl-size;
  padding: 1.6rem 0;
}

// Block element modifier (BEM) naming convention
.header__title {
  font-size: $l-size;
  font-weight: bold;
  margin: 0;
}

.header__subtitle {
  // color: #3C474B;
  color: $cyan-azure;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}

@media(max-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $m-size;
  }
}