.ReactModalPortal > div {
    opacity: 0;
}

// Transition the modal over 200ms
.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $sunny;
  border-radius: 15px;
  color: $dark-jungle-green;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;
}

.modal__title {
  margin: 0 0 $m-size
}

.modal__body {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 $l-size;
  word-break: break-all; // Break long words into multiple lines
}