.option {
  display: flex;
  justify-content: space-between;
  padding: $l-size $m-size;
  border-bottom: .1px solid $border-color;
}

.option-wrapper {
  display: flex;
}

.option__text {
  // color: $dark-jungle-green;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  word-break: break-all;
}

.option__checkbox {
  margin: 0 $s-size 0 0;
  zoom: 200%; // Make checkbox larger, transform blurs the checkbox
}

// p isn't nested inside option__checkbox element. 
.option__checkbox:checked + p {
  text-decoration: line-through;
}